[flake8]
select = ANN,C,E,F,W,I,BLK,B,B9,D,DAR
ignore = ANN002,ANN003,ANN101,ANN401,B905,E203,E501,E704,E741,W503,D105,D107,DAR203,E266
max-line-length = 90
max-complexity = 15
application-import-names = student,tests
import-order-style = google
docstring-convention = google
strictness = short
per-file-ignores =
    tests/*:S101,ANN
    noxfile.py:ANN
    setup.py:D100
builtins =
    AllChem
    Chem,
    plt,
    rdkit,