tests.ipynb
test_raspa.ipynb
test_chatmof.ipynb
test*/
test_streamlit_app.py

__pycache__/
CoRE-MOF/
.llm_cache/
student.egg-info/

.env
CSD-modified/cifs/NCR/
CSD-modified/cifs/CR/
CSD-modified/cifs/CR/Ion/
!CSD-modified/cifs/CR/FSR/2024*
CSD-modified/NCR_data_CSD_modified_*
